html {
    font-size: 100%;
    overflow-y: scroll; }

body {
	font: normal 14px/1.5 "Trebuchet MS", Arial, sans-serif;
	background: #0b0c0e;
	color: #b2bac7;
	margin: 0;
	padding: 50px; }
	
a { color:#007CA5; text-decoration: none; }
a:hover,
a:focus,
a:visited { color: #0c536a; }

h1, h2, h3, h4, h5, h6 { 
	color: #fff;
	margin: 0;
	padding: 0; }
	
h1 { font-size: 42px; }
dl { margin: 25px 50px; }
dl dl { margin: 0; }
hr { display: none; }
p { margin: 0 0 25px 0; }

pre {
	border-radius: 10px;
	padding: 25px;
	font-family: monospace, monospace;
    font-size: 1em;
	white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
	max-height: 500px; 
	overflow-y: auto;}
	
div.article,
div.chapter { 
	margin-top: 50px;
	padding-top: 50px;
	border-right: 1px solid #262b32;
	border-bottom: 1px solid #262b32;
	border-top: 5px solid #2f4252; }
	
div.chapter .titlepage h2 { 
	margin: 0 0 25px 0;
	font-size: 36px; }
	
div.chapter .titlepage h3 { 
	margin: 0 0 15px 0;
	font-size: 18px; }

div.section {
	padding: 25px 0 1px 25px;
	border-top: 1px solid #262b32;
	border-left: 1px solid #262b32; }

div.section .titlepage h2 { font-size: 24px; }
div.section .titlepage h4,
div.section .titlepage h5 { font-size: 16px; }
	
.programlisting { 
	background: #242a2e;
	margin: 25px 50px; }

.example { margin: 25px 50px; }

.example .title { 
	margin: 0;
	color: #fff; }
	
.example pre {
	margin: 15px 0 0 0;
	background: #d0cfcb;
	color: #000; }
	
.term { font-weight: bold; color: #61a844; }
.remark { color: red; }
